@import '../../index.scss';

.searchbox {
  border-radius: 10px;
  padding: 2em 1em;
  background-color: $white;
  margin-top: 2em;

  #searchbox-form {
    button[type="submit"] {
      cursor: pointer;
    }
  }

  .pickup {
    border: none;
    border-radius: 5px;
    padding: .5rem 1rem;
    width: 100%;
    border: 1px solid $gray-300;
  }
}