@import '../../utilities.scss';

.searchbox {
  border-radius: 10px;
  padding: 1.5em 1em;
  background-color: $white;

  #searchbox-form {
    button[type="submit"] {
      cursor: pointer;
    }

    .row > * { margin-top: 1.5rem }
    .search-button {
      background-color: $red-dark;
      color: white;
      &:hover {
        background-color: $blue-dark;
      }   
    }
  }

  .pickup input {
    padding: $field-spacing;
    border-radius: 5px;
    border: $default-border;
  }

  // Media Queries

  @include media-breakpoint-down(sm) {
    margin-left: 1em;
    margin-right: 1em;

    .pickup, .pickup-column { width: 100% }
    .type-column { width: 40% }
    .DateRangePickerInput { justify-content: space-evenly }
  }

  @include media-breakpoint-down(xs) {
    .type-column { width: 100% }
  }

  @include media-breakpoint-between(md, lg) {
    .type-column {
      width: 23.95%;
    }
  }

  @media (min-width: 993px) and (max-width: 1199px) {
    .type-column { width: 32.19% }
  }
}