@import '../../index.scss';

.container-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
}

.card-item{
    flex-basis: 30%;
    margin: 10px;
    max-width: 300px;
}

@media all and (min-width: 800px) {
.card-item {
    flex-basis: 30%;
    }
}


@media all and (max-width: 800px) {
  .card-item{
    flex-basis: 50%;
    }
}

@media all and (max-width: 500px) {
  .card-item{
    flex-basis: 100%;
    }
}

.margin-card-content{
    margin: 10px;
}

.text-inline{
    float: right;
    
}