@import '../../utilities.scss';

.type-selector {
  .dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: $field-spacing;
    background-color: $white;
    border: $default-border;
    
    &:after {
      display: none;
    }

    &:focus {
      box-shadow: none;
    }
  }

  .dropdown-menu {
    width: 100%;
  }

  .dropdown-toggle, .dropdown-item {
    color: $gray-700;
  }

  .dropdown-item {
    transition: background-color .2s ease-out;

    &:hover, &:focus {
      background-color: #12223D;
      color: $white;
    }
  }
}