@import '../../index.scss';

.type-selector {
  .dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    min-width: 150px;
    
    &:after {
      display: none;
    }

    &:focus {
      box-shadow: none;
    }
  }

  .dropdown-menu {
    width: 100%;
  }

  .dropdown-toggle, .dropdown-item {
    color: $gray-700;
  }

  .dropdown-item {
    transition: background-color .2s ease-out;

    &:hover, &:focus {
      background-color: $blue-dark;
      color: $white;
    }
  }
}