@import '../../index.scss';

.container-flex{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start; 
  justify-content: flex-start;
}

.card-list {
  margin-top: 1rem;
}

.card-item {
  max-width: 300px;
}

.rental-car {
  border-radius: 5px;
  flex-basis: 30%;
  background-color: $white;
  color: $gray-700;
  margin: 1rem;

  .view-details {
    border: 2px solid $blue-dark;
    color: $blue-dark;
    font-size: .75em;
    font-weight: 700;
    border-radius: 5px;
    padding: .25rem 1.5rem;
    background-color: $white;
    transition: background-color .25s ease-out;
    cursor: pointer;
  
    &:hover {
      background-color: $blue-dark;
      color: $white;
    }
  }

  .view-details-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }

  .title {
    font-weight: 700;
  }

  .content {
    padding: 0 1rem 1rem;
  }

  .price {
    display: flex;
    align-items: flex-end;

    .rate-amount {
      font-size: 1.5em;
      color: $gray-700;
      line-height: 100%
    }

    .rate-currency {
      line-height: 1.2rem;
    }
  }

  p {
    width: 100%;
  }

  img {
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
}


@media all and (min-width: 800px) {
  .card-item {
    flex-basis: 30%;
  }
}


@media all and (max-width: 800px) {
  .card-item{
    flex-basis: 50%;
  }
}

@media all and (max-width: 500px) {
  .card-item{
    flex-basis: 100%;
  }
}