@import '../../utilities.scss';

.container-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.card-list {
  margin-top: 1rem;
} 

.styles_modal__gNwvD{
    max-width: 800px;
    position: relative;
    padding: 0;
    background: #ffffff;
    background-clip: padding-box;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
    margin: auto;
}
.rental-car {
  border-radius: 5px;
  flex-basis: 30%;
  background-color: $white;
  color: $gray-700;
  margin: 1rem;
  height: 25.5rem;

  .view-details {
    color: $blue-dark;
    border: $blue-border-2;
    background-color: $white;
    font-size: .75em;
    font-weight: 700;
    border-radius: 5px;
    padding: .25rem 1.5rem;
    transition: background-color .25s ease-out;
    cursor: pointer;
  
    &:hover {
      background-color: $blue-dark;
      color: $white;
    }
  }

  .view-details-wrapper {
    display: flex;
    justify-content: center;
  }

  .title {
    font-weight: 700;
    font-size: 1.1rem;
    width: 100%;
  }

  .content {
    padding: 0 1rem 1rem;
  }

  .price {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: $blue-dark;

    .currency {
      font-size: .75em;
      line-height: 1.15em;
    }

    .amount {
      line-height: 100%;
      font-size: 1.1em;
    }
  }

  img {
    width: 100%;
    border-radius: 5px 5px 0 0;
    object-fit: scale-down;
    height: 200px;
  }
}

.card-item {
  margin: 10px;
  max-width: 300px;
  flex-basis: 30%;

  // Media Queries
  @include media-breakpoint-down(md) { flex-basis: 45% }
  @include media-breakpoint-down(xs) { flex-basis: 100% }
}

.nothing-to-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  img { max-height: 300px }
}