@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

.container-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: space-around; 
  justify-content: center;
}

.item-flex{
  flex-basis: 50%;
}

.image-slide{
  max-width: 100% !important;
  max-height: 240px !important;
}

.item-flex li {
  list-style: none;
}

.group-info > span{
  display: block;
}

.margin-slider{
  margin-bottom: 30px;
}

.icon-caracteristics{
  
}