@import '../../index.scss';

.app-wrapper {
  width: 100%;
  min-height: calc(100vh - 58px);
  background: rgb(222,226,230);
  background: radial-gradient(circle, rgba(222,226,230,1) 0%, rgba(255,255,255,1) 100%);
}