.Spinner {
  animation: rotate 1.3s linear infinite;
}

.SpinnerContainer-large {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

.SmallSpinnerPath {
  stroke-dasharray: 100;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    SmallDash 1.3s ease-in-out infinite;
}

@keyframes SmallDash {
  0% {
    stroke-dashoffset: 100;
  }

  50% {
    stroke-dashoffset: 50;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 100;
    transform: rotate(450deg);
  }
}

.MediumSpinnerPath {
  stroke-dasharray: 150;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    MediumDash 1.3s ease-in-out infinite;
}

@keyframes MediumDash {
  0% {
    stroke-dashoffset: 150;
  }

  50% {
    stroke-dashoffset: 50;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 150;
    transform: rotate(450deg);
  }
}

.LargeSpinnerPath {
  stroke-dasharray: 200;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    LargeDash 1.3s ease-in-out infinite;
}

@keyframes LargeDash {
  0% {
    stroke-dashoffset: 200;
  }

  50% {
    stroke-dashoffset: 50;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 200;
    transform: rotate(450deg);
  }
}

/* New Styles */

@import '../../utilities.scss';

.spinner {
  display: inline-block;
  animation: 2s rotate infinite linear;
  width: 1em;
  height: 1em;

  &.small { font-size: 2rem }
  &.medium { font-size: 2.5rem }
  &.large { font-size: 3rem }
}

.spinner circle {
  fill: transparent;
  stroke: $blue-dark;
  stroke-width: 0.1em;
  stroke-linecap: round;
  stroke-dasharray: 2.3525em 0.4705em;
  animation: 1.5s strokeDashArray infinite linear;
}

@keyframes rotate {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

@keyframes strokeDashArray {
  from {
    stroke-dasharray: 2.3525em 0.4705em;
    stroke-dashoffset: 0;
  }
  
  10% {
    stroke-dasharray: 2.3525em 0.4705em;
    stroke-dashoffset: 0;
  }
  
  50% {
    stroke-dasharray: 0.001em 2.825em;
    stroke-dashoffset: -2.826em;
  }
  
  60% {
    stroke-dasharray: 0.001em 2.825em;
  }
  
  to {
    stroke-dasharray: 2.3525em 0.4705em;
    stroke-dashoffset: -2.826em;
  }
}