@import '../../index.scss';

.navbar {
  background-color: #2e4053;

  .btn-bookings {
    color: $white;
    font-weight: 100;
    transition: font-weight .2s ease-in-out;

    &:hover {
      font-weight: 900;
    }

    &:focus {
      box-shadow: none;
    }
  }
}
.navbar-brand {
  font-family: $font-family-brand;
  font-size: 1.75rem !important;
  color: $white;
  padding: 0 !important;
  transition: color .3s ease-out;

  &:hover {
    color: #2DC4BB
  }
}
