@import '../../utilities.scss';

.DateRangePickerInput {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $field-spacing;
  border-radius: 5px;
  border: $default-border;
  
  .DateInput_input {
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }

  .DateRangePickerInput_calendarIcon {
    padding: 0;
    margin: 0;
  }

  .DateRangePickerInput_arrow_svg, .DateRangePickerInput_calendarIcon_svg {
    width: 1.25rem;
  }

  .DateRangePickerInput_arrow {
    margin: 0 .5rem;
  }

  .DateRangePickerInput_calendarIcon {
    margin-right: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .DateInput {
    width: unset;
    
    input {
      border: none;
    }
  }

  #startDate, #endDate {
    width: 5.5rem;
  }

  .DateInput_fang {
    top: 46px !important;
  }

  .DateRangePickerInput_clearDates {
    margin: 0;
    padding: 0;
    position: relative;
    top: 8px;

    &:hover {
      background-color: transparent;
    }
  }
}

.DateRangePicker {
  width: 100%;
}